@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
@model Clea_Web.ViewModels.LectorEvaluationViewModel.ScoreModel
<div class="content-wrapper">
	<div class="row">

		<div class="col-12 mb-3">
			<div class="accordion" id="accordionPanelsStayOpenExample">
				<!--搜尋-->

				<div class="col-lg-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<h3>評分內容</h3>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<h3>評鑑年度: @(Model.evInfo.Year) 年</h3>
									</div>
								</div>
								@if (Model.scoreModify.mType == 0)
								{
									<div class="col-md-6">
										<div class="form-group">
											<h3>授課講師: @(Model.evInfo.L_Name)</h3>
										</div>
									</div>
								}
								<div class="col-md-6">
									<div class="form-group">
										<h3>
											@(Model.scoreModify.mType == 0 ? "課程名稱" : "教材名稱:")  @Model.evInfo.C_B_Name
										</h3>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<h3>
											@(Model.scoreModify.mType == 0 ? "科目名稱" : "版本名稱:")  @Model.evInfo.S_P_Name
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 grid-margin stretch-card">
					@* <a class="btn btn-primary mr-2" href="@Url.Action("G_Index","B_ViewClass", new{ CLUid = Model.cLInfo.CL_UID, Year = Model.cSTinfo_V.Year })">回前頁</a> *@
				</div>

				<!--搜尋End-->

				<div>
					<embed src="http://www.math.ntu.edu.tw/calculus/download/ex02.pdf" type="application/pdf" width="100%" height="600px" />
					<a href="../SampleFile/f483e9fc-7660-45b2-9606-8be5ee088d34.pdf">ttttt</a>
					@* <object type="application/pdf" data="../SampleFile/f483e9fc-7660-45b2-9606-8be5ee088d34.pdf" width="100%" height="500px"></object> *@
					@* <iframe src="../SampleFile/f483e9fc-7660-45b2-9606-8be5ee088d34.pdf" frameborder="0" height="100%" width="100%"></iframe> *@
				</div>
				<!--圖片檢視-->
				<div class="col-lg-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">課程檔案</h4>
							<!--Banner-->
							<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
								<div class="carousel-inner">
									@if (Model.scoreModify.lst_pic.Count() > 0)
									{
										Boolean First = true;
										foreach (String path in Model.scoreModify.lst_pic)
										{
											<div class="carousel-item @(First ? "active":"")">
												<img src="@path" class="d-block w-100" alt="教學資料">
											</div>
											First = false;
										}
									}
								</div>
								<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
							<!--Banner-->
						</div>
					</div>
				</div>
				<!--圖片檢視-->
				<!--評分表&綜合意見-->
				<form class="forms-sample" method="post" action="@Url.Action("Modify","P_LectorEvaluation")">
					@Html.AntiForgeryToken()
					@Html.HiddenFor(x => x.scoreModify.mType)
					@Html.HiddenFor(x => x.scoreModify.ED_ID)
					<div class="col-lg-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">審查表</h4>
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												@if (Model.scoreModify.mType == 0)
												{
													<th>項目</th>
													<th>分數比例</th>
													<th>評分</th>
												}
												else
												{
													<th>性質</th>
													<th>評分項目</th>
													<th>評分</th>
												}
											</tr>
										</thead>
										<tbody>

											@if (Model.scoreModify.mType == 0)
											{
												<tr>
													<td>1.簡報/實習內容符合核定教材版本</td>
													<td>60</td>
													<td>
														@Html.TextBoxFor(x => x.scoreModify.ScoreA, new { @class = "form-control form-control" })
														@Html.ValidationMessageFor(x => x.scoreModify.ScoreA)
													</td>
												</tr>
												<tr>
													<td>2.教學大綱與簡報內容正確性與關連性</td>
													<td>10</td>
													<td>
														@Html.TextBoxFor(x => x.scoreModify.ScoreB, new { @class = "form-control form-control" })
														@Html.ValidationMessageFor(x => x.scoreModify.ScoreB)
													</td>
												</tr>
												<tr>
													<td>3.補充教材/法令更新</td>
													<td>10</td>
													<td>
														@Html.TextBoxFor(x => x.scoreModify.ScoreC, new { @class = "form-control form-control" })
														@Html.ValidationMessageFor(x => x.scoreModify.ScoreC)
													</td>
												</tr>
												<tr>
													<td>4.相關案例說明</td>
													<td>10</td>
													<td>
														@Html.TextBoxFor(x => x.scoreModify.ScoreD, new { @class = "form-control form-control" })
														@Html.ValidationMessageFor(x => x.scoreModify.ScoreD)
													</td>
												</tr>
												<tr>
													<td>5.字體大小、美編色彩、適度圖案比例</td>
													<td>10</td>
													<td>
														@Html.TextBoxFor(x => x.scoreModify.ScoreE, new { @class = "form-control form-control" })
														@Html.ValidationMessageFor(x => x.scoreModify.ScoreE)
													</td>
												</tr>
											}
											else
											{
												<tr>

													<td>
														<span>正確性</span>
														<br />
														<span>(60%)</span>
													</td>
													<td>
														<span>A1.主軸：可達到教學目標、有助於核心能力培養</span>
														<br />
														<span>A2.教材章節：符合最新職業安全衛生相關法規、組織架構良好、循序漸進</span>
														<br />
														<span>A3.教材內容：文意清楚、文字流暢、可適切傳遞知識技能、實用價值高</span>
													</td>
													<td>
														@Html.TextBoxFor(x => x.scoreModify.ScoreA, new { @class = "form-control form-control" })
														@Html.ValidationMessageFor(x => x.scoreModify.ScoreA)
													</td>
												</tr>
												<tr>
													<td>
														<span>適用性</span>
														<br />
														<span>(20%)</span>
													</td>
													<td>
														<span>B1.內容深度：教材適合學習對象</span>
														<br />
														<span>B2.進度編排：淺顯易懂之內容編排方式、各單元內容份量適宜且完整</span>
														<br />
														<span>B3.與產業實務需求人才培育連結性</span>
													</td>
													<td>
														@Html.TextBoxFor(x => x.scoreModify.ScoreBB, new { @class = "form-control form-control" })
														@Html.ValidationMessageFor(x => x.scoreModify.ScoreBB)
													</td>
												</tr>
												<tr>
													<td>
														<span>豐富性</span>
														<br />
														<span>(20%)</span>

													</td>
													<td>
														<span>C1.教材內容充實、圖文並茂、編排美觀</span>
														<br />
														<span>C2.教材內容創新、合時宜、有特色，能引發學生學習動機</span>
														<br />
														<span>C3.印刷清晰</span>
														<br />
														<span>C4.字體大小合宜性</span>
													</td>
													<td>
														@Html.TextBoxFor(x => x.scoreModify.ScoreCB, new { @class = "form-control form-control" })
														@Html.ValidationMessageFor(x => x.scoreModify.ScoreCB)
													</td>
												</tr>
											}

										</tbody>
									</table>
								</div>
							</div>
							@* 								<div class="card-body">
							<h4 class="card-title">綜合意見回饋或修正建議</h4>
							@Html.TextAreaFor(x => x.scoreModify.Remark, new { @class = "form-control form-control" })
							</div> *@
							<div class="card-body">
								<button type="submit" class="btn btn-primary mr-2">儲存變更</button>
							</div>
						</div>
					</div>
				</form>
				<!--評分表&綜合意見-->
			</div>
		</div>
	</div>
</div>