@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Clea_Web.ViewModels.B_LectorAdvViewModel.Modify
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
<!--新增、編輯-->
<div class="content-wrapper">

    <div class="row">
        <!--資訊-->
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <h3>進修資訊</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <h3>年度: @(Model.LaYear) 年</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--資訊End-->
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    @*講師專區 新增、編輯*@
                    <h4 class="card-title">
                        我的進修資料 - @(Model.IsEdit ? "編輯" : "新增")
                    </h4>
                    @Html.AntiForgeryToken()
                    @*回傳狀態*@
                    @Html.HiddenFor(x => x.IsEdit)
                    @*回傳Uid*@
                    @Html.HiddenFor(x => x.LaUid)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="exampleInputName" class="col-sm-3 col-form-label">標題</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x=> x.LaTitle, new { @class="form-control form-control", placeholder="標題"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="exampleInputName" class="col-sm-3 col-form-label">上傳時間</label>
                                <div class="col-sm-9">
                                    @Model.UptDate
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @if (@Model.FilePath != null)
                            {
                            //有檔案
                                <div class="form-group row">
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">上傳檔案</label>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputName1">進修檔案</label>
                                            @Html.TextBoxFor(x => x.file, new { @class = "form-control form-control", placeholder = "進修檔案", @type = "file" })
                                            @Html.ValidationMessageFor(x => x.file)
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="@Url.Action("DownloadFile","B_LectorAdv", new{FilePath = @Model.FilePath})" class="btn btn-success">@Model.FNameReal @Model.FExt</a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                //無檔案
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputName1">進修檔案</label>
                                        @Html.TextBoxFor(x => x.file, new { @class = "form-control form-control", placeholder = "進修檔案", @type = "file" })
                                        @Html.ValidationMessageFor(x => x.file)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
