<!--分頁底板-->
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Fluent;
@using X.PagedList.Web.Common;
@model IPagedList
@{
    var PageData = ViewBag.schPageList;
}
<div>
    <div class="d-flex justify-content-end">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { data = PageData, page }),
        new PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            DisplayLinkToIndividualPages = false,
            DisplayPageCountAndCurrentLocation = true,

            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
            DisplayLinkToLastPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
            DisplayLinkToNextPage = PagedListDisplayMode.Never,
            ItemSliceAndTotalFormat = "顯示第{0}~{1}筆 / 共 {2} 筆　 ",
            PageCountAndCurrentLocationFormat = "第 {0} 頁，共 {1} 頁　 ",
        })
    </div>
    <nav class="d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("Index", new { data = PageData, page = 1 })" aria-label="第一頁">
                    第一頁
                </a>
            </li>
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("Index", new { data = PageData, page = Model.PageNumber - 1 })" aria-label="上一頁">
                    上一頁
                </a>
            </li>

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { data = PageData, page = i })">
                        @i
                    </a>
                </li>
            }

            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("Index", new { data = PageData, page = Model.PageNumber + 1 })" aria-label="下一頁">
                    下一頁
                </a>
            </li>
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("Index", new { data = PageData, page = Model.PageCount })" aria-label="末頁">
                    末頁
                </a>
            </li>
        </ul>
    </nav>
</div>