@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
@model Clea_Web.ViewModels.AssignClassViewModel.TC_Model
<div class="content-wrapper">
    <div class="row">
        <!--搜尋-->
        <div class="col-12 mb-3">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            <h4 class="m-0">搜尋條件</h4>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <form class="forms-sample" method="post" action="@Url.Action("TC_Index","B_AssignClass")">
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(x => x.evaluationActonInfo.ControllerName)
                                @Html.HiddenFor(x => x.evaluationActonInfo.Key)
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputName1">教學單元代碼</label>
                                            @Html.TextBoxFor(x => x.cLschItem.S_ID, new { id = "SI", @class = "form-control form-control", placeholder = "教學單元代碼" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail3">教學單元名稱</label>
                                            @Html.TextBoxFor(x => x.cLschItem.S_Name, new { id = "SN",@class = "form-control form-control", placeholder = "教學單元名稱" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail3">授課教師名稱</label>
                                            @Html.TextBoxFor(x => x.cLschItem.L_Name, new { id = "LN",@class = "form-control form-control", placeholder = "授課教師名稱" })
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <button type="submit" class="btn btn-primary mr-2">搜尋</button>
                                    <button type="button" class="btn btn-light mr-2" onclick="resetItem()">清除條件</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--搜尋End-->
        <div class="mb-2 mt-2">
            <a class="btn btn-primary mr-2" href="@Url.Action("Index","B_AssignClass")">回前頁</a>
        </div>
        <!--資料Table-->
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">評鑑 - 教學單元授課資訊</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>序</th>
                                    <th>課程名稱</th>
                                    <th>教學單元</th>
                                    <th>時數</th>
                                    <th>授課教師</th>
                                    <th>結案狀態</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (!(Model.cLPageLists is null) && Model.cLPageLists.Count > 0)
                                {
                                    Int32 rowCount = 0;
                                    foreach (var cL in Model.cLPageLists)
                                    {
                                        rowCount++;
                                        <tr>
                                            <td>@rowCount</td>
                                            <td>@cL.C_Name</td>
                                            <td>@cL.S_Name</td>
                                            <td>@cL.D_Hour</td>
                                            <td>@cL.L_Name</td>
                                            <td>@(cL.IsClose ? "結案" : "未結案")</td>
                                            <td>
                                                @* <a href="@Url.Action("V_Index","B_AssignClass", new { ES_ID = cL.ES_ID })" class="btn btn-success">檢視評鑑資訊</a>
                                        <a href="@Url.Action("ScoreIndex","B_AssignClass", new { ES_ID = cL.ES_ID })" class="btn btn-warning">檢視教學單元大綱</a> *@

                                                @if (cL.Status > 0 && cL.Status != 8 && !cL.IsClose)
                                                {
                                                    <a href="@Url.Action("TC_Modify","B_AssignClass", new { ES_ID = cL.ES_ID })" class="btn btn-info">評鑑授課教師</a>
                                                }
                                                else if (cL.Status == 8)
                                                {
                                                    <a><span style="color:red">評鑑中止(重大更新)</span></a>
                                                }
                                                else
                                                {
                                                    <a><span style="color:red">授課教師尚未完成課程登錄</span></a>
                                                }
                                                @if (cL.Status > 1)
                                                {
                                                    <a href="@Url.Action("V_Index","B_AssignClass", new { ES_ID = cL.ES_ID })" class="btn btn-success">檢視評鑑資訊</a>
                                                    <a href="@Url.Action("ScoreIndex","B_AssignClass", new { ES_ID = cL.ES_ID })" class="btn btn-warning">檢視教學單元大綱</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" align="center">查無資料!</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!--換頁模組-->
                        @if (!(Model.cLPageLists is null) && Model.cLPageLists.Count > 0)
                        {
                            @Html.Partial("../Shared/_pageList", Model.cLPageLists)
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--資料Table End-->
    </div>
</div>
<script type="text/javascript">
    function resetItem() {
        $('#SN').val(null);
        $('#SI').val(null);
        $('#LN').val(null);
    }
</script>