@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
@model Clea_Web.ViewModels.AssignClassViewModel.vIndexModel
<div class="content-wrapper">
	<div class="row">
		<!--搜尋-->
		<div class="col-12 mb-3">
			<div class="accordion" id="accordionPanelsStayOpenExample">
				<div class="col-lg-12 grid-margin stretch-card">
					<a class="btn btn-primary mr-2" href="@Url.Action("TC_Index","B_AssignBook", new { E_ID = Model.E_ID })">回前頁</a>
				</div>
				<!--資料Table-->
				<div class="col-lg-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">評鑑 - 科目評鑑資訊</h4>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>序</th>
											<th>評鑑教師</th>
											<th>狀態</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										@if (!(Model.vIndexLists is null) && Model.vIndexLists.Count > 0)
										{
											Int32 rowCount = 0;
											foreach (var cL in Model.vIndexLists)
											{
												rowCount++;
												<tr>
													<td>@rowCount</td>
													<td>@cL.Lv_Teacher</td>
													<td>
														@{
															switch (cL.Status)
															{
																case 0:
																	@:待檔案上傳
																	break;
																case 1:
																	@:待指定評鑑教師
																	break;
																case 2:
																	@:待評分
																	break;
																case 3:
																	@:待承辦人審核
																	break;
																case 4:
																	@:通過(未結案)
																	break;
																case 5:
																	@:未通過(未結案)
																	break;
																case 6:
																	@:通過(結案)
																	break;
																case 7:
																	@:未通過(結案)
																	break;
																case 8:
																	@:評鑑中止(重大更新)
																	break;
																case 9:
																	@:退回重評
																	break;
																default:
																	@:尚未設定
																	break;
															}
														}
													</td>
													<td>
														<a href="@Url.Action("V_Modify","B_AssignClass", new { ED_ID = cL.ED_ID })" class="btn btn-success">檢視審查表</a>
														<a href="@Url.Action("Export_ScoreWord","B_AssignClass", new { ED_ID = cL.ED_ID })" class="btn btn-warning">匯出審查表</a>
													</td>
												</tr>
											}
										}
										else
										{
											<tr>
												<td colspan="4" align="center">查無資料!</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!--資料Table End-->
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function resetItem() {
		$('#SN').val(null);
		$('#LN').val(null);
	}
</script>