@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
@model Clea_Web.ViewModels.AssignClassViewModel.V_ModifyModel
<div class="content-wrapper">
	<div class="row">

		<div class="col-12 mb-3">
			<div class="accordion" id="accordionPanelsStayOpenExample">
				<!--搜尋-->

				<div class="col-lg-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<h3>評鑑內容</h3>
									</div>
								</div>
							</div>
							<div class="row">
								@* 								<div class="col-md-4">
								<div class="form-group">
								<h3>評鑑年度: @(Model.cLInfo.Year) 年</h3>
								</div>
								</div> *@
								<div class="col-md-6">
									<div class="form-group">
										<h3>教師名稱: @(Model.cLInfo.L_Name) ( @(Model.cLInfo.L_ID) )</h3>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<h3>課程名稱: @(Model.cLInfo.C_Name) ( @(Model.cLInfo.C_ID) )</h3>
									</div>
								</div>
							</div>
							<div class="row">

								<div class="col-md-12">
									<div class="form-group">
										<h3>科目名稱: @(Model.cLInfo.S_Name) ( @(Model.cLInfo.S_ID) )</h3>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="">教學大綱:</label>
										@Html.TextAreaFor(x => x.v_ScoreModel.Syllabus, new {  @class = "form-control form-control", rows = "10", disabled = "disabled"})
										@Html.ValidationMessageFor(x=>x.v_ScoreModel.Syllabus)
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="">教學目標:</label>
										@Html.TextAreaFor(x => x.v_ScoreModel.Object, new {  @class = "form-control form-control", rows = "10", disabled = "disabled"})
										@Html.ValidationMessageFor(x=>x.v_ScoreModel.Object)
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="">教學內容摘要:</label>
										@Html.TextAreaFor(x => x.v_ScoreModel.Abstract, new {  @class = "form-control form-control", rows = "10", disabled = "disabled"})
										@Html.ValidationMessageFor(x=>x.v_ScoreModel.Abstract)
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 grid-margin stretch-card">
					<a class="btn btn-primary mr-2" href="@Url.Action("V_Index","B_AssignClass", new { ES_ID = Model.cLInfo.ES_ID })">回前頁</a>
				</div>

				<!--搜尋End-->
				<!--圖片檢視-->
				<div class="col-lg-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">課程檔案</h4>
							<!--Banner-->
							<div id="carouselExampleIndicators" class="carousel slide dark-carousel" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
								</ol>
								<div class="carousel-inner">
									@if (Model.picPath.Count() > 0)
									{
										Boolean First = true;
										foreach (String path in Model.picPath)
										{
											<div class="carousel-item @(First ? "active":"")" data-bs-interval="10000">
												<img src="@path" class="d-block w-100" alt="教學資料">
											</div>
											First = false;
										}
									}
								</div>
								<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
							<!--Banner-->
						</div>
					</div>
				</div>
				<!--圖片檢視-->
				<!--評分表&綜合意見-->
				<form class="forms-sample" method="post" action="@Url.Action("V_Modify","B_AssignClass")">
					@Html.AntiForgeryToken()
					@Html.HiddenFor(x => x.v_ScoreModel.ED_ID)
					<div class="col-lg-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">審查表</h4>
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th>項目</th>
												<th>分數比例</th>
												<th>評分</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1.簡報/實習內容符合核定教材版本</td>
												<td>60</td>
												<td>
													@if (Model.v_ScoreModel.IsClose)
													{
														@Html.TextBoxFor(x => x.v_ScoreModel.Score_A, new { @class = "form-control form-control", placeholder = "0 ~ 60", disabled = "disabled" })
													}
													else
													{
														@Html.TextBoxFor(x => x.v_ScoreModel.Score_A, new { @class = "form-control form-control", placeholder = "0 ~ 60" })
													}
													@Html.ValidationMessageFor(x => x.v_ScoreModel.Score_A)
												</td>
											</tr>
											<tr>
												<td>2.教學大綱與簡報內容正確性與關連性</td>
												<td>10</td>
												<td>
													@if (Model.v_ScoreModel.IsClose)
													{
														@Html.TextBoxFor(x => x.v_ScoreModel.Score_B, new { @class = "form-control form-control", placeholder = "0 ~ 10", disabled = "disabled" })
													}
													else
													{
														@Html.TextBoxFor(x => x.v_ScoreModel.Score_B, new { @class = "form-control form-control", placeholder = "0 ~ 10" })
													}
													@Html.ValidationMessageFor(x => x.v_ScoreModel.Score_B)
												</td>
											</tr>
											<tr>
												<td>3.補充教材/法令更新</td>
												<td>10</td>
												<td>
													@if (Model.v_ScoreModel.IsClose)
													{
														@Html.TextBoxFor(x => x.v_ScoreModel.Score_C, new { @class = "form-control form-control", placeholder = "0 ~ 10", disabled = "disabled" })
													}
													else
													{
														@Html.TextBoxFor(x => x.v_ScoreModel.Score_C, new { @class = "form-control form-control", placeholder = "0 ~ 10" })
													}
													@Html.ValidationMessageFor(x => x.v_ScoreModel.Score_C)
												</td>
											</tr>
											<tr>
												<td>4.相關案例說明</td>
												<td>10</td>
												<td>
													@if (Model.v_ScoreModel.IsClose)
													{
														@Html.TextBoxFor(x => x.v_ScoreModel.Score_D, new { @class = "form-control form-control", placeholder = "0 ~ 10", disabled = "disabled" })
													}
													else
													{
														@Html.TextBoxFor(x => x.v_ScoreModel.Score_D, new { @class = "form-control form-control", placeholder = "0 ~ 10" })
													}
													@Html.ValidationMessageFor(x => x.v_ScoreModel.Score_D)
												</td>
											</tr>
											<tr>
												<td>5.字體大小、美編色彩、適度圖案比例</td>
												<td>10</td>
												<td>
													@if (Model.v_ScoreModel.IsClose)
													{
														@Html.TextBoxFor(x => x.v_ScoreModel.Score_E, new { @class = "form-control form-control", placeholder = "0 ~ 10", disabled = "disabled" })
													}
													else
													{
														@Html.TextBoxFor(x => x.v_ScoreModel.Score_E, new { @class = "form-control form-control", placeholder = "0 ~ 10" })
													}
													@Html.ValidationMessageFor(x => x.v_ScoreModel.Score_E)
												</td>
											</tr>
											<tr>
												<td colspan="2">平均分數</td>
												<td>
													@if (Model.v_ScoreModel.TotalScore >= 85 && Model.v_ScoreModel.TotalScore <= 100)
													{
														<a><span style="color:green">@Model.v_ScoreModel.TotalScore (及格)</span></a>
													}
													else
													{
														<a><span style="color:red">@Model.v_ScoreModel.TotalScore (不及格)</span></a>
													}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="card-body">
								<h4 class="card-title">綜合意見回饋或修正建議</h4>
								@if (Model.v_ScoreModel.IsClose)
								{
									@Html.TextAreaFor(x => x.v_ScoreModel.Remark, new { @class = "form-control form-control", disabled = "disabled" })
								}
								else
								{
									@Html.TextAreaFor(x => x.v_ScoreModel.Remark, new { @class = "form-control form-control" })
								}
							</div>
							<div class="card-body">
								@if (Model.v_ScoreModel.IsClose)
								{
									<button class="btn btn-primary mr-2" disabled="disabled">已結案</button>
								}
								else
								{
									<button type="submit" class="btn btn-info mr-2" )>儲存變更(確認)</button>
									<a href="@Url.Action("Modify_Back", "B_AssignClass", new { ED_ID = Model.v_ScoreModel.ED_ID })" class="btn btn-danger mr-2" )>退回重評</a>
								}
							</div>
						</div>
					</div>
				</form>
				<!--評分表&綜合意見-->
			</div>
		</div>
	</div>
</div>
<style>
	/* 背景色調整為暗色調 */
	.dark-carousel {
		background-color: #333;
	}

		/* 按鈕背景色設置為暗色系 */
		.dark-carousel .carousel-control-prev, .dark-carousel .carousel-control-next {
			background-color: rgba(255, 255, 255, 0.5); /* 半透明白色背景 */
			border-color: #fff; /* 按钮边框颜色为白色 */
		}

		/* 按鈕箭頭顏色設置為白色 */
		.dark-carousel .carousel-control-prev-icon,
		.dark-carousel .carousel-control-next-icon {
			filter: invert(100%); /* 箭头颜色反相，使其呈现白色 */
		}

		/* 指示器激活狀態的背景色為白色 */
		.dark-carousel .carousel-indicators .active {
			background-color: #fff;
		}
</style>