@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Clea_Web.ViewModels.B_LectorAdvViewModel.Modify
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
<!--後台補新增、編輯-->
<div class="content-wrapper">

    <div class="row">
        <form class="form-sample" method="post" action="@Url.Action("C_Modify","B_LectorAdv")" enctype='multipart/form-data'>
            <div class="mb-2 mt-2">
                <button type="submit" class="btn btn-info">儲存</button>
                @if (Model.IsEdit == true)
                {
                    <a href="@Url.Action("D_Index","B_LectorAdv", new{LUid = @Model.LUid,YearNow=@Model.LaYear})" class="btn btn-secondary">取消</a>
                }
                else
                {
                    <a href="@Url.Action("Index","B_LectorAdv")" class="btn btn-secondary">取消</a>
                }
            </div>
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        @*講師專區 新增、編輯*@
                        <h4 class="card-title">
                            我的進修資料 - @(Model.IsEdit ? "編輯" : "新增")
                        </h4>
                        @Html.AntiForgeryToken()
                        @*回傳狀態*@
                        @Html.HiddenFor(x => x.IsEdit)
                        @*回傳Uid*@
                        @Html.HiddenFor(x => x.LaUid)                        
                        @*回傳姓名*@
                        @Html.HiddenFor(x => x.LName)
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">選擇年度</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x => x.LaYear, Model.YearList, new { @class = "form-control form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">選擇講師</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x => x.LUid, Model.DropDownList, new { @class = "form-control form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">標題</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x=> x.LaTitle, new { @class="form-control form-control", placeholder="標題"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (@Model.FilePath != null)
                        {

                //有檔案
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="exampleInputName" class="col-sm-3 col-form-label">上傳檔案</label>
                                        <div class="col-sm-9">
                                            <a href="@Url.Action("DownloadFile","B_LectorAdv", new{FilePath = @Model.FilePath,FileName = Model.FileName})" class="btn btn-success">@Model.FileName</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="exampleInputName" class="col-sm-3 col-form-label">進修檔案</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(x => x.file, new { @class="form-control form-control", placeholder = "進修檔案", @type = "file" })
                                            @Html.ValidationMessageFor(x => x.file)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            //無檔案
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="exampleInputName" class="col-sm-3 col-form-label">進修檔案</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(x => x.file, new { @class="form-control form-control", placeholder = "進修檔案", @type = "file" })
                                            @Html.ValidationMessageFor(x => x.file)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
