@using Clea_Web.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Clea_Web.ViewModels.ENewsViewModel.Modify
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
    dbContext db = new dbContext();
}

<div class="content-wrapper">
    <form class="form-sample" method="post" action="@Url.Action("Modify","B_ENews")" enctype='multipart/form-data'>
        <div class="mb-2 mt-2">
            <button type="submit" class="btn btn-info">儲存</button>
            @* <button type="button" class="btn btn-secondary">取消</button> *@
            <a href="@Url.Action("Index","B_ENews")" class="btn btn-secondary">取消</a>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            勞工教育電子報管理 - @(Model.IsEdit ? "編輯" : "新增")
                        </h4>
                        @Html.AntiForgeryToken()
                        @*回傳狀態*@
                        @Html.HiddenFor(x => x.IsEdit)
                        @*回傳Uid*@
                        @Html.HiddenFor(x => x.Uid)
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Title, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control form-control", placeholder = "標題" })
                                        @Html.ValidationMessageFor(x=>x.Title)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.StartDate, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control form-control date-picker", type = "date" })
                                        @Html.ValidationMessageFor(x=>x.StartDate)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">是否上架</label>
                                    <div class="col-sm-9 d-flex justify-content-around">
                                        <div class="form-check">
                                            @Html.RadioButtonFor(x => x.Status, true, new { @class = "form-check-input", @name = "Status" })
                                            <label for="TypeY">
                                                是
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            @Html.RadioButtonFor(x => x.Status, false, new {@class = "form-check-input", @name = "Status" })
                                            <label for="TypeN">
                                                否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Click, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Click, new { @class = "form-control form-control", placeholder = "下載次數" })
                                        @Html.ValidationMessageFor(x=>x.StartDate)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">電子報上傳(上傳覆蓋)</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.file, new { @class="form-control form-control", placeholder = "上傳檔案", @type = "file", id = "fileUpload" })
@*                                         @Html.ValidationMessageFor(x => x.file) *@
                                    </div>
                                </div>
                            </div>
                            @if (@Model.FileName != null)
                            {
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="exampleInputName" class="col-sm-3 col-form-label">上傳檔案</label>

                                        <div class="col-sm-9">
                                            <a href="@Url.Action("DownloadFile","B_LectorAdv", new{FilePath = @Model.FilePath,FileName = Model.FileName})" class="btn btn-success">@Model.FileName </a>
                                            @*<button type="button" class="ti-close btn-icon btn btn-danger btn-rounded" onclick="del('@Model.Uid')"></button>*@
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function del(Uid) {
        //刪除按紐
        Swal.fire({
            title: '是否確定要刪除檔案？',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '是',
            cancelButtonText: '否',
            heightAuto: false
        }).then((result) => {
            if (!result.isConfirmed) {
                return;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '../B_ENews/DeleteFile',
                    data: { Uid: Uid },
                    dataType: "json",
                    success: function (response) {
                        if (response.chk) {
                            Swal.fire({
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: '確定',
                                heightAuto: false,
                                icon: 'success',
                                title: '刪除成功'
                            }).then(() => {
                                location.reload();
                            });
                        }
                        else {
                            Swal.fire({
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: '確定',
                                heightAuto: false,
                                icon: 'warning',
                                title: '刪除失敗',
                                text: response.msg
                            });
                        }
                    },
                    error: function (thrownError) {
                        Swal.fire({
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: '確定',
                            heightAuto: false,
                            icon: 'warning',
                            title: '刪除失敗',
                            text: '系統異常，請洽管理員'
                        });
                    }
                });
            }

        })
    }
</script>