@using Clea_Web.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Clea_Web.ViewModels.CVViewModel.Modify
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
    dbContext db = new dbContext();
}

<div class="content-wrapper">
    <form class="form-sample" method="post" action="@Url.Action("Modify","B_CV")" enctype='multipart/form-data'>
        <div class="mb-2 mt-2">
            <button type="submit" class="btn btn-info">儲存</button>
            @* <button type="button" class="btn btn-secondary">取消</button> *@
            <a href="@Url.Action("Index","B_CV")" class="btn btn-secondary">取消</a>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            廠商徵才管理 - @(Model.IsEdit ? "編輯" : "新增")
                        </h4>
                        @Html.AntiForgeryToken()
                        @*回傳狀態*@
                        @Html.HiddenFor(x => x.IsEdit)
                        @*回傳Uid*@
                        @Html.HiddenFor(x => x.Uid)
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Title, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control form-control", placeholder = "標題" })
                                        @Html.ValidationMessageFor(x=>x.Title)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Place, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Place, new { @class = "form-control form-control", placeholder = "工作地點" })
                                        @Html.ValidationMessageFor(x=>x.Place)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Num, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Num, new { @class = "form-control form-control", placeholder = "徵才人數" })
                                        @Html.ValidationMessageFor(x=>x.Num)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Exp, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Exp, "{0:yyyy-MM-dd}", new { @class = "form-control form-control date-picker", type = "date" })
                                        @Html.ValidationMessageFor(x=>x.Exp)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Pay, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Pay, new { @class = "form-control form-control", placeholder = "薪資待遇" })
                                        @Html.ValidationMessageFor(x=>x.Pay)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @* <div class="form-group row">
                                @Html.LabelFor(x => x.Company, new { @class = "col-sm-3 col-form-label" })
                                <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.Company, new { @class = "form-control form-control", placeholder = "求才機構(公司名稱)" })
                                @Html.ValidationMessageFor(x=>x.Company)
                                </div>
                                </div> *@
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Company, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x=>x.Company, Model.DropDownCompany, new { id="search1",@class = "form-control form-control" })
                                        @Html.ValidationMessageFor(x=>x.Company)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Contact, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Contact, new { @class = "form-control form-control", placeholder = "聯絡人" })
                                        @Html.ValidationMessageFor(x=>x.Contact)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Phone, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control form-control", placeholder = "連絡電話" })
                                        @Html.ValidationMessageFor(x=>x.Phone)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Address, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control form-control", placeholder = "地址" })
                                        @Html.ValidationMessageFor(x=>x.Address)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.EMail, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.EMail, new { @class = "form-control form-control", placeholder = "電子郵件" })
                                        @Html.ValidationMessageFor(x=>x.EMail)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Way, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Way, new { @class = "form-control form-control", placeholder = "應徵方式" })
                                        @Html.ValidationMessageFor(x=>x.Way)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Click, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Click, new { @class = "form-control form-control", placeholder = "點閱次數" })
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-6">
                            <div class="form-group row">
                            <label class="col-sm-3 col-form-label">是否上架</label>
                            <div class="col-sm-9 d-flex justify-content-around">
                            <div class="form-check">
                            @Html.RadioButtonFor(x => x.Status, true, new { @class = "form-check-input", @name = "Status" })
                            <label for="TypeY">
                            是
                            </label>
                            </div>
                            <div class="form-check">
                            @Html.RadioButtonFor(x => x.Status, false, new {@class = "form-check-input", @name = "Status" })
                            <label for="TypeN">
                            否
                            </label>
                            </div>
                            </div>
                            </div>
                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Content, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(x => x.Content,20,150, new { @class = "form-control form-control" })
                                        @Html.ValidationMessageFor(x=>x.Content)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.Require, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(x => x.Require,20,150, new { @class = "form-control form-control" })
                                        @Html.ValidationMessageFor(x=>x.Require)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 grid-margin stretch-card">
                                <div class="card" style="background-color:#E0E0E0; border-radius:7px">
                                    <h4 class="card-title">
                                        後台審核區域、廠商上下架記錄
                                    </h4>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    @Html.LabelFor(x => x.Approve, new { @class = "col-sm-3 col-form-label" })
                                                    <div class="col-sm-9">
                                                        @Html.DropDownListFor(x => x.Approve, Model.DropDownApprove, new { @class = "form-control form-control" })
                                                        @Html.ValidationMessageFor(x=>x.Approve)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">是否上架</label>
                                                    <div class="col-sm-9 d-flex justify-content-around">
                                                        <div class="form-check">
                                                            @Html.RadioButtonFor(x => x.Status, true, new { @class = "form-check-input", @name = "Status" })
                                                            <label for="TypeY">
                                                                是
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            @Html.RadioButtonFor(x => x.Status, false, new {@class = "form-check-input", @name = "Status" })
                                                            <label for="TypeN">
                                                                否
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    @Html.LabelFor(x => x.Memo, new { @class = "col-sm-3 col-form-label" })
                                                    <div class="col-sm-9">
                                                        @Html.TextAreaFor(x => x.Memo,20,150, new { @class = "form-control form-control" })
                                                        @* @Html.ValidationMessageFor(x=>x.Memo) *@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @if (Model.IsEdit == true)
                                        {
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        @Html.LabelFor(x => x.Close, new { @class = "col-sm-3 col-form-label" })
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(x => x.Close, new { @class = "form-control form-control", @readonly = "readonly" })
                                                            @* @Html.ValidationMessageFor(x=>x.Memo) *@
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (Model.Close != "無")
                                                {
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            @Html.LabelFor(x => x.CloseTime, new { @class = "col-sm-3 col-form-label" })
                                                            <div class="col-sm-9">
                                                                @Html.TextBoxFor(x => x.CloseTime, new { @class = "form-control form-control", @readonly = "readonly" })
                                                                @* @Html.ValidationMessageFor(x=>x.Memo) *@
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#search1').select2({
            placeholder: "展開後可使用下方搜尋框搜尋",
            allowClear: true,
        });
    });
</script>