@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Clea_Web.ViewModels.P_LectorBtnViewModel.SchModel
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
<div class="content-wrapper">
    <div class="row">
        <!--搜尋-->
        <div class="col-12 mb-3">
            歡迎進入講師專區!!!!!
            <!--動作End-->
            <!--資料Table-->
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">公佈欄</h5>
                        @*<p class="card-description">
                        Add class <code>.table</code>
                        </p> *@
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>分類</th>
                                        <th>主旨</th>
                                        <th>公告日期</th>
                                        <th>閱覽</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.schPageList2.Count > 0)
                                    {
                                        foreach (var item in Model.schPageList2)
                                        {
                                            <tr>
                                                <td>@item.NTypeName</td>
                                                <td>@item.NTitle</td>
                                                <td>@item.NStartDateStr</td>
                                                <td>
                                                    @*編輯、刪除*@
                                                    @* <button type="button" class="btn btn-success">編輯</button> *@
                                                    <a href="@Url.Action("Modify","P_LectorBtn", new{NewsID = item.NewsId})" class="btn btn-success">閱覽</a>
                                                    @*<button type="button" class="btn btn-danger" onclick="del('@item.NewsId')">刪除</button>*@
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <!--換頁模組-->
                            @Html.Partial("../Shared/_pageList", Model.schPageList2)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>