@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Clea_Web.ViewModels.AccountViewModel.Modify
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

    <div class="content-wrapper">
    <form class="form-sample" method="post" action="@Url.Action("Modify","B_Account")">
            <button type="submit" class="btn btn-info">儲存</button>
            @* <button type="button" class="btn btn-secondary">取消</button> *@
            <a href="@Url.Action("Index","B_Account")" class="btn btn-secondary">取消</a>
            <div class="row">

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                帳號管理 - @(Model.IsEdit ? "編輯" : "新增")
                            </h4>
                            @Html.AntiForgeryToken()
                            @*回傳狀態*@
                            @Html.HiddenFor(x => x.IsEdit)
                            @*回傳Uid*@
                            @Html.HiddenFor(x => x.UId)
                            @* <p class="card-description">
                                後臺帳號管理-編輯
                                </p> *@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(x=> x.UAccount, new { @class="col-sm-3 col-form-label" })
                                        <div class="col-sm-9">
                                        @Html.TextBoxFor(x=> x.UAccount, new { @class="form-control form-control", placeholder="帳號"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(x=> x.UPassword, new { @class="col-sm-3 col-form-label" })
                                        <div class="col-sm-9">
                                        @Html.PasswordFor(x=> x.UPassword, new { @class="form-control form-control", placeholder="密碼"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(x=> x.UName, new { @class="col-sm-3 col-form-label" })
                                        <div class="col-sm-9">
                                        @Html.TextBoxFor(x=> x.UName, new { @class="form-control form-control", placeholder="帳號名稱"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">帳號啟用狀態</label>
                                        @* @Html.LabelFor(x=> x.UStatus, new { @class="col-sm-3 col-form-label" }) *@

                                    <div class="col-sm-4 d-flex justify-content-around">
                                        <div class="form-check">
                                            @Html.RadioButtonFor(x => x.UStatus, true, new { id = "optionsRadios1", @class = "form-check-input", @name = "optionsRadios" })
                                            <label for="S1">
                                                是
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            @Html.RadioButtonFor(x => x.UStatus, false, new { id = "optionsRadios1", @class = "form-check-input", @name = "optionsRadios" })
                                            <label for="S0">
                                                否
                                            </label>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x=> x.UEmail, new { @class="col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x=> x.UEmail, new { @class="form-control form-control", placeholder="電子信箱"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x=> x.UPhone, new { @class="col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x=> x.UPhone, new { @class="form-control form-control", placeholder="電話"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x=> x.RUid, new { @class="col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x=> x.RUid, new { @class="form-control form-control", placeholder="帳號權限"})
                                    </div>
                                </div>
                            </div>                           
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>