@using Clea_Web.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Clea_Web.ViewModels.UserRoleViewModel.Modify
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
    dbContext db = new dbContext();
}

<div class="content-wrapper">
    <form class="form-sample" method="post" action="@Url.Action("C_Index","Sys_Role")">
        <div class="mb-2 mt-2">
            <button type="submit" class="btn btn-info">下一步</button>
            @* <button type="button" class="btn btn-secondary">取消</button> *@
            <a href="@Url.Action("Index","Sys_Role")" class="btn btn-secondary">取消</a>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            是否為後台帳號
                        </h4>
                        @Html.AntiForgeryToken()
                        @*回傳狀態*@
                        @Html.HiddenFor(x => x.IsEdit)
                        @*回傳Uid*@
                        @Html.HiddenFor(x => x.RUId)
                        @* <p class="card-description">
                        後臺腳色權限管理-編輯
                        </p> *@

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">是否為後台帳號</label>
                                    @* @Html.LabelFor(x=> x.RStatus, new { @class="col-sm-3 col-form-label" }) *@

                                    <div class="col-sm-9 d-flex justify-content-around">
                                        <div class="form-check">
                                            @Html.RadioButtonFor(x => x.RBackEnd, true, new { id = "Bbtn", @class = "form-check-input", @name = "RBackEnd", @onclick= "showMTypeB()" })
                                            <label for="MTypeB">
                                                是
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            @Html.RadioButtonFor(x => x.RBackEnd, false, new { id = "Pbtn", @class = "form-check-input", @name = "RBackEnd", @onclick = "showMTypeP()" })
                                            <label for="MTypeP">
                                                否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
