@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Clea_Web.ViewModels.UserRoleViewModel.Modify
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<div class="content-wrapper">
    <form class="form-sample" method="post" action="@Url.Action("Modify","Sys_Role")">
        <button type="submit" class="btn btn-info">儲存</button>
        @* <button type="button" class="btn btn-secondary">取消</button> *@
        <a href="@Url.Action("Index","Sys_Role")" class="btn btn-secondary">取消</a>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            角色權限管理 - @(Model.IsEdit ? "編輯" : "新增")
                        </h4>
                        @Html.AntiForgeryToken()
                        @*回傳狀態*@
                        @Html.HiddenFor(x => x.IsEdit)
                        @*回傳Uid*@
                        @Html.HiddenFor(x => x.RUId)
                        @* <p class="card-description">
                        後臺腳色權限管理-編輯
                        </p> *@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @* <label class="col-sm-3 col-form-label">姓名</label> *@
                                    @Html.LabelFor(x => x.RId, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @* <input type="text" class="form-control" /> *@
                                        @Html.TextBoxFor(x => x.RId, new { @class = "form-control form-control", placeholder = "角色代碼" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @* <label class="col-sm-3 col-form-label">角色名稱</label> *@
                                    @Html.LabelFor(x => x.RName, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @* <input type="text" class="form-control" /> *@
                                        @Html.TextBoxFor(x => x.RName, new { @class = "form-control form-control", placeholder = "角色名稱" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @* <label class="col-sm-3 col-form-label">角色排序</label> *@
                                    @Html.LabelFor(x => x.ROrder, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.ROrder, new { @class = "form-control form-control", placeholder = "角色排序" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">角色啟用狀態</label>
                                    @* @Html.LabelFor(x=> x.RStatus, new { @class="col-sm-3 col-form-label" }) *@

                                    <div class="col-sm-9 d-flex justify-content-around">
                                        <div class="form-check">
                                            @Html.RadioButtonFor(x => x.RStatus, true, new { id = "optionsRadios1", @class = "form-check-input", @name = "optionsRadios" })
                                            <label for="S1">
                                                是
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            @Html.RadioButtonFor(x => x.RStatus, false, new { id = "optionsRadios1", @class = "form-check-input", @name = "optionsRadios" })
                                            <label for="S0">
                                                否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">是否為後台帳號</label>
                                        @* @Html.LabelFor(x=> x.RStatus, new { @class="col-sm-3 col-form-label" }) *@

                                        <div class="col-sm-9 d-flex justify-content-around">
                                            <div class="form-check">
                                                @Html.RadioButtonFor(x => x.RBackEnd, true, new { id = "optionsRadios1", @class = "form-check-input", @name = "optionsRadios" })
                                                <label for="S1">
                                                    是
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                @Html.RadioButtonFor(x => x.RBackEnd, false, new { id = "optionsRadios1", @class = "form-check-input", @name = "optionsRadios" })
                                                <label for="S0">
                                                    否
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <nav class="sidebar sidebar-offcanvas w-100 position-static" style="background:white">
                                    <label class="col-sm-3 col-form-label">各功能權限設定</label>
                                    <ul class="nav">
                                        <li class="nav-item">
                                            <a class="nav-link bg-light" data-toggle="collapse" href="#item1" aria-expanded="false" aria-controls="ui-basic">
                                                <i class="menu-arrow ms-0 me-1 text-dark"></i>
                                                <span class="menu-title text-dark">母項目</span>
                                            </a>
                                            <div class="collapse" id="item1">
                                                <ul class="nav flex-column m-0 px-5 bg-light" style="list-style-type: none">
                                                    <li class="d-flex justify-content-between">
                                                        @{
                                                            bool isOpen = false;
                                                        }
                                                        <div>
                                                            <input type="checkbox" id="toggleCheckbox" @Html.Raw(isOpen ? "checked" : "")>
                                                            <label for="toggleCheckbox">子項目</label>
                                                        </div>

                                                        <div id="contentDiv" style="display: @(isOpen ? "block" : "none");">
                                                            <label class="mx-1"><input type="checkbox" name="action" value="閱覽"> 閱覽</label>
                                                            <label class="mx-1"><input type="checkbox" name="action" value="新增"> 新增</label>
                                                            <label class="mx-1"><input type="checkbox" name="action" value="編輯"> 編輯</label>
                                                            <label class="mx-1"><input type="checkbox" name="action" value="刪除"> 刪除</label>
                                                            <label class="mx-1"><input type="checkbox" name="action" value="上傳"> 上傳</label>
                                                            <label class="mx-1"><input type="checkbox" name="action" value="匯出"> 匯出</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>


<script>
    const toggleCheckbox = document.getElementById("toggleCheckbox");
    const contentDiv = document.getElementById("contentDiv");
    toggleCheckbox.addEventListener("change", function () {
        if (toggleCheckbox.checked) {
            contentDiv.style.display = "block";
        } else {
            contentDiv.style.display = "none";
        }
    });
</script>