@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
@model Clea_Web.ViewModels.BookViewModel.SearchModel
<div class="content-wrapper">
    <div class="row">
        <!--搜尋-->
        <div class="col-12 mb-3">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            <h4 class="m-0">搜尋條件</h4>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <form class="forms-sample" method="post" action="@Url.Action("Index","B_Book")">
                                @Html.AntiForgeryToken()
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail3">教材種類代碼</label>
                                            @Html.TextBoxFor(x => x.schBookItem.M_Index, new {id = "num", @class = "form-control form-control", placeholder = "教材種類代碼" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail3">教材種類名稱</label>
                                            @Html.TextBoxFor(x => x.schBookItem.M_Name, new { id = "name",@class = "form-control form-control", placeholder = "教材種類名稱" })
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <button type="submit" class="btn btn-primary mr-2">搜尋</button>
                                    <button type="button" class="btn btn-light mr-2" onclick="resetItem()">清除條件</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--搜尋End-->
        <!--動作-->
        <div class="mb-2 mt-2">
            <a class="btn btn-info mr-2" href="@Url.Action("Add")">新增教材種類</a>
        </div>
        <!--動作End-->
        <!--資料Table-->
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">教材種類管理</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>序</th>
                                    <th>教材種類代碼</th>
                                    <th>教材種類名稱</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (!(Model.bookListsPageList is null) && Model.bookListsPageList.Count > 0)
                                {
                                    Int32 rowCount = 0;
                                    foreach (var book in Model.bookListsPageList)
                                    {
                                        rowCount++;
                                        <tr>
                                            <td>@rowCount</td>
                                            <td>@book.M_Index</td>
                                            <td>@book.M_Name</td>
                                            <td>
                                                <a href="@Url.Action("Modify","B_Book", new { U_ID = book.M_ID })" class="btn btn-success">編輯</a>
                                                @* <a href="@Url.Action("Modify","B_Book", new { U_ID = book.M_ID })" class="btn btn-warning">上傳教材</a> *@
                                                <button type="button" class="btn btn-danger" onclick="del('@book.M_ID')">刪除</button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" align="center">查無資料!</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!--換頁模組-->
                        @if (!(Model.bookListsPageList is null) && Model.bookListsPageList.Count > 0)
                        {
                            @Html.Partial("../Shared/_pageList", Model.bookListsPageList)
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--資料Table End-->
    </div>
</div>
<script type="text/javascript">
    function resetItem() {
        $('#num').val(null);
        $('#name').val(null);
    }

    function del(MID) {
        //刪除按紐
        Swal.fire({
            title: '是否確定要刪除？',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '是',
            cancelButtonText: '否',
            heightAuto: false
        }).then((result) => {
            if (!result.isConfirmed) {
                return;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '../B_Book/Delete',
                    data: { M_ID: MID },
                    dataType: "json",
                    success: function (response) {
                        if (response.chk) {
                            Swal.fire({
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: '確定',
                                heightAuto: false,
                                icon: 'success',
                                title: '刪除成功'
                            }).then(() => {
                                location.reload();
                            });
                        }
                        else {
                            Swal.fire({
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: '確定',
                                heightAuto: false,
                                icon: 'warning',
                                title: '刪除失敗',
                                text: response.msg
                            });
                        }
                    },
                    error: function (thrownError) {
                        Swal.fire({
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: '確定',
                            heightAuto: false,
                            icon: 'warning',
                            title: '刪除失敗',
                            text: '系統異常，請洽管理員'
                        });
                    }
                });
            }

        })
    }
</script>