@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Clea_Web.ViewModels.B_LectorBtnViewModel.Modify
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<div class="content-wrapper">
    <form class="form-sample" method="post" action="@Url.Action("Modify","B_LectorBtn")" enctype='multipart/form-data'>
        <div class="mb-2 mt-2">
        <button type="submit" class="btn btn-info">儲存</button>
        @* <button type="button" class="btn btn-secondary">取消</button> *@
        <a href="@Url.Action("Index","B_LectorBtn")" class="btn btn-secondary">取消</a>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            公佈欄管理 - @(Model.IsEdit ? "編輯" : "新增")
                        </h4>
                        @Html.AntiForgeryToken()
                        @*回傳狀態*@
                        @Html.HiddenFor(x => x.IsEdit)
                        @*回傳NewsId*@
                        @Html.HiddenFor(x => x.NewsId)
                        @* <p class="card-description">
                        公佈欄管理-編輯
                        </p> *@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @* <label class="col-sm-3 col-form-label">姓名</label> *@
                                    @Html.LabelFor(x => x.NTitle, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @* <input type="text" class="form-control" /> *@
                                        @Html.TextBoxFor(x => x.NTitle, new { @class = "form-control form-control", placeholder = "公告標題" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    @*<label class="col-sm-3 col-form-label">角色啟用狀態</label>*@
                                    @* @Html.LabelFor(x=> x.RStatus, new { @class="col-sm-3 col-form-label" }) *@

                                    <div class="col-sm-9 d-flex justify-content-around">
                                        <div class="form-check">
@*                                             @Html.CheckBoxFor(x => x.N_IsTop, new { id = "optionsRadios1", @class = "form-check-input", @name = "optionsRadios" }) *@
                                            @Html.CheckBoxFor(x => x.NIsTop, new { id = "optionsRadios1", @class = "form-check-input", @name = "optionsRadios", @checked = Model.NIsTop ? "checked" : "" })
                                            @Html.LabelFor(x => x.NIsTop, new { @class = "col-sm-12 control-label" })
                                            @*  <label for="S1">
                                            是否置頂
                                            </label>*@
                                        </div>
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.NIsShow, new { id = "optionsRadios12", @class = "form-check-input", @name = "optionsRadios",@checked = Model.NIsShow ? "checked" : "" })
                                            @Html.LabelFor(x => x.NIsShow, new { @class = "col-sm-12 control-label" })
                                            @*<label for="S0">
                                            是否顯示
                                            </label>*@
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">公告類型</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x => x.NType, Model.DropDownListType, new { @class = "form-control form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">選擇發布對象</label>
                                    <div class="col-sm-9 d-flex justify-content-around">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.NRole, false, new { id = "inlineRadio1",value="option1" ,@class = "form-check-input", @name = "inlineRadioOptions",@onclick="showIndividual()" })
                                            <label for="inlineRadio1">
                                                個別通知
                                            </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.NRole, true, new { id = "inlineRadio2",value="option2" ,@class = "form-check-input", @name = "inlineRadioOptions",@onclick="showGroup()" })
                                            <label for="inlineRadio1">
                                                群組通知
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="individual" style="display: block;">
                                <div class="form-group row"  >
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">發布講師</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x => x.PersonID, Model.DropDownListUser, new { @class = "form-control form-control" , id="PersonID"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="group" style="display:none;">
                                <div class="form-group row" >
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">發布對象</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x => x.GroupID, Model.DropDownList, new { @class = "form-control form-control" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group row">
                                    @Html.LabelFor(x => x.NStartDate, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(x => x.NStartDate, new { @class = "form-control form-control date-picker" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.NEndDate, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(x => x.NEndDate, new { @class = "form-control form-control date-picker" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.NContent, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(x => x.NContent,20,150, new { @class = "form-control form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (@Model.FilePath != null)
                        {

                            @*有檔案*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="exampleInputName" class="col-sm-3 col-form-label">上傳檔案</label>
                                        <div class="col-sm-9">
                                            <a href="@Url.Action("DownloadFile","B_LectorAdv", new{FilePath = @Model.FilePath,FileName = Model.FileName})" class="btn btn-success">@Model.FileName </a>
                                            <button type="button" class="ti-close btn-icon btn btn-danger btn-rounded" onclick="del('@Model.NewsId')"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="exampleInputName" class="col-sm-3 col-form-label">選擇檔案</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(x => x.file, new { @class="form-control form-control", placeholder = "上傳檔案", @type = "file" })
                                            @Html.ValidationMessageFor(x => x.file)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            //無檔案
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="exampleInputName" class="col-sm-3 col-form-label">選擇檔案</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(x => x.file, new { @class="form-control form-control", placeholder = "上傳檔案", @type = "file" })
                                            @Html.ValidationMessageFor(x => x.file)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function del(Uid) {
        //刪除按紐
        Swal.fire({
            title: '是否確定要刪除檔案？',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '是',
            cancelButtonText: '否',
            heightAuto: false
        }).then((result) => {
            if (!result.isConfirmed) {
                return;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '../B_LectorBtn/DeleteFile',
                    data: { Uid: Uid },
                    dataType: "json",
                    success: function (response) {
                        if (response.chk) {
                            Swal.fire({
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: '確定',
                                heightAuto: false,
                                icon: 'success',
                                title: '刪除成功'
                            }).then(() => {
                                location.reload();
                            });
                        }
                        else {
                            Swal.fire({
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: '確定',
                                heightAuto: false,
                                icon: 'warning',
                                title: '刪除失敗',
                                text: response.msg
                            });
                        }
                    },
                    error: function (thrownError) {
                        Swal.fire({
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: '確定',
                            heightAuto: false,
                            icon: 'warning',
                            title: '刪除失敗',
                            text: '系統異常，請洽管理員'
                        });
                    }
                });
            }

        })
    }
    function pageLoad() {
        init();
    }
    function init() {
        debugger;
        datetime();
    }
    function showIndividual() {
        document.getElementById("individual").style.display = "block";
        document.getElementById("group").style.display = "none";
    }
    function showGroup() {
        document.getElementById("individual").style.display = "none";
        document.getElementById("group").style.display = "block";
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#PersonID').select2({
            placeholder: "展開後可使用下方搜尋框搜尋",
            allowClear: true,
        });
    });
</script>

