@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Clea_Web.ViewModels.B_LectorBtnViewModel.Modify
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<div class="content-wrapper">
    <form class="form-sample" method="post" action="@Url.Action("Modify","B_LectorBtn")">
        <button type="submit" class="btn btn-info">儲存</button>
        @* <button type="button" class="btn btn-secondary">取消</button> *@
        <a href="@Url.Action("Index","B_LectorBtn")" class="btn btn-secondary">取消</a>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            公佈欄管理 - @(Model.IsEdit ? "編輯" : "新增")
                        </h4>
                        @Html.AntiForgeryToken()
                        @*回傳狀態*@
                        @Html.HiddenFor(x => x.IsEdit)
                        @*回傳NewsId*@
                        @Html.HiddenFor(x => x.NewsId)
                        @* <p class="card-description">
                        公佈欄管理-編輯
                        </p> *@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @* <label class="col-sm-3 col-form-label">姓名</label> *@
                                    @Html.LabelFor(x => x.N_Title, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @* <input type="text" class="form-control" /> *@
                                        @Html.TextBoxFor(x => x.N_Title, new { @class = "form-control form-control", placeholder = "公告標題" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    @*<label class="col-sm-3 col-form-label">角色啟用狀態</label>*@
                                    @* @Html.LabelFor(x=> x.RStatus, new { @class="col-sm-3 col-form-label" }) *@

                                    <div class="col-sm-9 d-flex justify-content-around">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.N_IsTop,  new { id = "optionsRadios1", @class = "form-check-input", @name = "optionsRadios" })
                                            @Html.LabelFor(x => x.N_IsTop, new { @class = "col-sm-12 control-label" })
                                            @*  <label for="S1">
                                            是否置頂
                                            </label>*@
                                        </div>
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.N_IsShow, new { id = "optionsRadios12", @class = "form-check-input", @name = "optionsRadios"})
                                            @Html.LabelFor(x => x.N_IsShow, new { @class = "col-sm-12 control-label" })
                                            @*<label for="S0">
                                            是否顯示
                                            </label>*@
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">公告類型</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x=>x.N_Type, Model.DropDownListType, new { @class = "form-control form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">發布對象</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x=>x.R_ID, Model.DropDownList, new { @class = "form-control form-control" })
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                            <nav class="sidebar sidebar-offcanvas w-100 position-static" style="background:white">
                            <ul class="nav">
                            <li class="nav-item">
                            <a class="nav-link bg-light" data-toggle="collapse" href="#item1" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-arrow ms-0 me-1 text-dark"></i>
                            <span class="menu-title text-dark">母項目</span>
                            </a>
                            <div class="collapse" id="item1">
                            <ul class="nav flex-column m-0 px-5 bg-light" style="list-style-type: none">
                            <li class="d-flex justify-content-between">
                            @{
                            bool isOpen = false;
                            }
                            <div>
                            <input type="checkbox" id="toggleCheckbox" @Html.Raw(isOpen ? "checked" : "")>
                            <label for="toggleCheckbox">子項目</label>
                            </div>

                            <div id="contentDiv" style="display: @(isOpen ? "block" : "none");">
                            <label class="mx-1"><input type="checkbox" name="action" value="閱覽"> 閱覽</label>
                            <label class="mx-1"><input type="checkbox" name="action" value="新增"> 新增</label>
                            <label class="mx-1"><input type="checkbox" name="action" value="編輯"> 編輯</label>
                            <label class="mx-1"><input type="checkbox" name="action" value="刪除"> 刪除</label>
                            <label class="mx-1"><input type="checkbox" name="action" value="上傳"> 上傳</label>
                            <label class="mx-1"><input type="checkbox" name="action" value="匯出"> 匯出</label>
                            </div>
                            </li>
                            </ul>
                            </div>
                            </li>
                            </ul>
                            </nav>
                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @* <label class="col-sm-3 col-form-label">姓名</label> *@
                                    @Html.LabelFor(x => x.N_StartDate, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @* <input type="text" class="form-control" /> *@
                                        @Html.EditorFor(x => x.N_StartDate,new { @class = "form-control form-control date-picker"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">發布講師</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x=>x.R_ID, Model.DropDownListUser, new { @class = "form-control form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.N_EndDate, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(x => x.N_EndDate, new { @class = "form-control form-control date-picker"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputName1">上傳檔案</label>
                                    <div class="col-sm-8">
                                        @* <input type="text" class="form-control" /> *@
                                        @Html.TextBoxFor(x => x.FileName, new { @class = "form-control form-control"})
                                    </div>
                                    <div class="col-sm-4">
                                        @if (string.IsNullOrEmpty(Model.FilePath))
                                        {
                                            <button type="submit" class="form-control form-control btn btn-info mr-2">瀏覽</button>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Delete", "B_LectorBtn", new { File_ID = Model.File_ID })" class="form-control form-control btn btn-danger mr-2">刪除檔案</a>
                                        }

                                        @* <button type="@(!string.IsNullOrEmpty(Model.FilePath) ? "button":"submit")" class="form-control form-control btn @(!string.IsNullOrEmpty(Model.FilePath) ?"btn-danger":"btn-info") mr-2">@(!string.IsNullOrEmpty(Model.FilePath) ? "刪除檔案" : "上傳檔案")</button> *@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(x => x.N_Content, new { @class = "col-sm-3 col-form-label" })
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(x => x.N_Content,20,35, new { @class = "form-control form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </form>
</div>


<script type="text/javascript">
    function pageLoad() {
        init();
    }
    function init() {
        debugger;
        datetime();
    }
            //const toggleCheckbox = document.getElementById("toggleCheckbox");
            //const contentDiv = document.getElementById("contentDiv");
            //toggleCheckbox.addEventListener("change", function () {
            //    if (toggleCheckbox.checked) {
            //        contentDiv.style.display = "block";
            //    } else {
            //        contentDiv.style.display = "none";
            //    }
            //});
</script>
@*<script type="text/javascript">

        function datetime() {
            //年份選擇器
            $('.year-picker').datepicker({
                startView: 'decade',
                minView: 'decade',
                format: 'yyyy',
                maxViewMode: 2,
                minViewMode: 2,
                autoclose: true
            });
            //日期選擇器
            $('.date-picker').datepicker({
                language: 'zh-TW',
                autoclose: true,
                todayHighlight: true,
            }).next().on(ace.click_event, function () { $(this).prev().focus(); });
            //月份選擇器
            $(".month-picker").datepicker({
                language: 'zh-TW', //(台灣)
                format: "yyyy/mm",
                viewMode: "months",
                minViewMode: "months",
                autoclose: true
            });
            //日期範圍選擇器
            $('.input-daterange').datepicker({ autoclose: true });

        };
</script>*@