@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Clea_Web.ViewModels.B_LectorBtnViewModel.Modify
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<div class="content-wrapper">
    <form class="form-sample" method="post" action="@Url.Action("Modify","B_LectorBtn")">
        <button type="submit" class="btn btn-info">儲存</button>
        @* <button type="button" class="btn btn-secondary">取消</button> *@
        <a href="@Url.Action("Index","B_LectorBtn")" class="btn btn-secondary">取消</a>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            公佈欄管理 - @(Model.IsEdit ? "編輯" : "新增")
                        </h4>
                        @Html.AntiForgeryToken()
                        @*回傳狀態*@
                        @Html.HiddenFor(x => x.IsEdit)
                        @*回傳NewsId*@
                        @Html.HiddenFor(x => x.NewsId)
                        @* <p class="card-description">
                        公佈欄管理-編輯
                        </p> *@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @* <label class="col-sm-3 col-form-label">姓名</label> *@
                                    @Html.LabelFor(x => x.N_Title, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @* <input type="text" class="form-control" /> *@
                                        @Html.TextBoxFor(x => x.N_Title, new { @class = "form-control form-control", placeholder = "公告標題" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    @*<label class="col-sm-3 col-form-label">角色啟用狀態</label>*@
                                    @* @Html.LabelFor(x=> x.RStatus, new { @class="col-sm-3 col-form-label" }) *@

                                    <div class="col-sm-9 d-flex justify-content-around">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.N_IsTop, new { id = "optionsRadios1", @class = "form-check-input", @name = "optionsRadios" })
                                            @Html.LabelFor(x => x.N_IsTop, new { @class = "col-sm-12 control-label" })
                                            @*  <label for="S1">
                                            是否置頂
                                            </label>*@
                                        </div>
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.N_IsShow, new { id = "optionsRadios12", @class = "form-check-input", @name = "optionsRadios" })
                                            @Html.LabelFor(x => x.N_IsShow, new { @class = "col-sm-12 control-label" })
                                            @*<label for="S0">
                                            是否顯示
                                            </label>*@
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">公告類型</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x => x.N_Type, Model.DropDownListType, new { @class = "form-control form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">發布</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">個別</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                        <label class="form-check-label" for="inlineCheckbox2">群發</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group row">
                                    @* <label class="col-sm-3 col-form-label">姓名</label> *@
                                    @Html.LabelFor(x => x.N_StartDate, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @* <input type="text" class="form-control" /> *@
                                        @Html.EditorFor(x => x.N_StartDate, new { @class = "form-control form-control date-picker" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row" id="individual" style="display:none;">
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">發布講師</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x => x.R_ID, Model.DropDownListUser, new { @class = "form-control form-control" })
                                    </div>
                                </div>

                                <div class="form-group row" id="group" style="display:none;">
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">發布對象</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x => x.R_ID, Model.DropDownList, new { @class = "form-control form-control" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.N_EndDate, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(x => x.N_EndDate, new { @class = "form-control form-control date-picker" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputName1">上傳檔案</label>
                                    <div class="col-sm-8">
                                        @* <input type="text" class="form-control" /> *@
                                        @Html.TextBoxFor(x => x.FileName, new { @class = "form-control form-control" })
                                    </div>
                                    <div class="col-sm-4">
                                        @if (string.IsNullOrEmpty(Model.FilePath))
                                        {
                                            <button type="submit" class="form-control form-control btn btn-info mr-2">瀏覽</button>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Delete", "B_LectorBtn", new { File_ID = Model.File_ID })" class="form-control form-control btn btn-danger mr-2">刪除檔案</a>
                                        }

                                        //有檔案
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="exampleInputName" class="col-sm-3 col-form-label">上傳檔案</label>
                                                    <div class="col-sm-9">
                                                        <a href="@Url.Action("DownloadFile","B_LectorAdv", new{FilePath = @Model.FilePath,FileName = Model.FileName})" class="btn btn-success">@Model.FileName</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="exampleInputName" class="col-sm-3 col-form-label">上傳檔案</label>
                                                    <div class="col-sm-9">
                                                        @Html.TextAreaFor(x => x.N_Content, 20, 35, new { @class = "form-control form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                        else
                                        {
                                        //無檔案
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="exampleInputName" class="col-sm-3 col-form-label">上傳檔案</label>
                                                    <div class="col-sm-9">
                                                        @Html.TextBoxFor(x => x.file, new { @class="form-control form-control", placeholder = "上傳檔案", @type = "file" })
                                                        @Html.ValidationMessageFor(x => x.file)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group row">
                                                    @Html.LabelFor(x => x.N_Content, new { @class = "col-sm-2 col-form-label" })
                                                    <div class="col-sm-9">
                                                        @Html.TextAreaFor(x => x.N_Content,20,50, new { @class = "form-control form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </form>
</div>

<script>

    //function datetime() {
    //    debugger;
    //    //年份選擇器
    //    $('.year-picker').datepicker({
    //        startView: 'decade',
    //        minView: 'decade',
    //        format: 'yyyy',
    //        maxViewMode: 2,
    //        minViewMode: 2,
    //        autoclose: true
    //    });
    //    //日期選擇器
    //    $('.date-picker').datepicker({
    //        language: 'zh-TW',
    //        autoclose: true,
    //        format: "yy/mm/dd",
    //        todayHighlight: true,
    //    });
    //    //月份選擇器
    //    $(".month-picker").datepicker({
    //        language: 'zh-TW', //(台灣)
    //        format: "yyyy/mm",
    //        viewMode: "months",
    //        minViewMode: "months",
    //        dateFormat: "yyyy/MM/dd",
    //        autoclose: true
    //    });
    //    //日期範圍選擇器
    //    $('.input-daterange').datepicker({ autoclose: true });


    function pageLoad() {
        init();
    }
    function init() {
        debugger;
        datetime();
    }
    displaySelection() {
        var individualCheckbox = document.getElementById('inlineCheckbox1');
        var groupCheckbox = document.getElementById('inlineCheckbox2');
        var individualDiv = document.getElementById('individual');
        var groupDiv = document.getElementById('group');

        if (individualCheckbox.checked) {
            individualDiv.style.display = 'block';
            groupDiv.style.display = 'none';
        } else if (groupCheckbox.checked) {
            individualDiv.style.display = 'none';
            groupDiv.style.display = 'block';
        } else {
            individualDiv.style.display = 'none';
            groupDiv.style.display = 'none';
        }
    }
</script>



