@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Clea_Web.ViewModels.P_LectorBtnViewModel.Modify
@{
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<div class="content-wrapper">
    <form class="form-sample" method="post" action="@Url.Action("Modify","P_LectorBtn")">
        @*<button type="submit" class="btn btn-info">儲存</button>*@
        @* <button type="button" class="btn btn-secondary">取消</button> *@
        <a href="@Url.Action("Index","P_LectorBtn")" class="btn btn btn-info mr-2">回上一頁</a>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            公佈欄
                        </h4>
                        @Html.AntiForgeryToken()
                        @*回傳狀態*@
                        @Html.HiddenFor(x => x.IsEdit)
                        @*回傳NewsId*@
                        @Html.HiddenFor(x => x.NewsId)
                        @* <p class="card-description">
                        公佈欄管理-編輯
                        </p> *@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @* <label class="col-sm-3 col-form-label">姓名</label> *@
                                    @Html.LabelFor(x => x.NType, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @* <input type="text" class="form-control" /> *@
                                        @Html.TextBoxFor(x => x.NTypeName, new { @class = "form-control form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @* <label class="col-sm-3 col-form-label">姓名</label> *@
                                    @Html.LabelFor(x => x.NTitle, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @* <input type="text" class="form-control" /> *@
                                        @Html.TextBoxFor(x => x.NTitle, new { @class = "form-control form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
             
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.N_CreateDate, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.N_CreateDate, new { @class = "form-control form-control"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    @Html.LabelFor(x => x.NContent, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(x => x.NContent,20,35, new { @class = "form-control form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                
              
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                    <label for="exampleInputName" class="col-sm-3 col-form-label">檔案下載</label>
                                        <div class="col-sm-9">
                                        <a href="@Url.Action("DownloadFile","P_LectorBtn", new{FilePath = @Model.FilePath,FileName = Model.FileName})" class="btn btn-success">@Model.FileName</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
         @*                   <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="exampleInputName" class="col-sm-3 col-form-label">檔案下載</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(x => x.file, new { @class="form-control form-control", placeholder = "檔案下載", @type = "file" })
                                            @Html.ValidationMessageFor(x => x.file)
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                  
                      
                    </div>
                </div>
            </div>
    </form>
</div>


<script type="text/javascript">
    function pageLoad() {
        init();
    }
    function init() {
        debugger;
        datetime();
    }

</script>